- mask ||= 0.65
- mask_color ||= 'black'
- blur ||= false

- size ||= 'cover'
- repeat ||= 'no-repeat'
- position ||= 'center top'

- properties = ["background-image: url('#{image}')",
        "background-size: #{size}",
        "background-repeat: #{repeat}",
        "background-position: #{position}"]

- properties << "filter: blur(#{blur});" if blur

.background class=(blur ? 'blurred' : '')
  .image style=properties.join(';')
  .mask style="background: #{mask_color}; opacity: #{mask}"
