<%
  mask ||= 0.65
  mask_color ||= 'black'
  blur ||= false

  size ||= 'cover'
  repeat ||= 'no-repeat'
  position ||= 'center top'

  properties = [
      "background-image: url('#{image}')",
      "background-size: #{size}",
      "background-repeat: #{repeat}",
      "background-position: #{position}"
  ]

  properties << "filter: blur(#{blur});" if blur
%>

<div class="background <%= blur ? 'blurred' : '' %>">
  <div class="image" style="<%= properties.join(';') %>"></div>
  <div class="mask" style="background: <%= mask_color %>; opacity: <%= mask %>"></div>
</div>
