<%
  mask ||= 0.65
  blur ||= false
%>

<div class="background <%= blur ? 'blurred' : '' %>">
  <div class="image" style="background-image: url('<%= image %>'); <%= blur ? "filter: blur(#{blur});" : '' %>"></div>
  <div class="mask" style="opacity: <%= mask %>"></div>
</div>
