= render 'components/info-profile', icon: 'id-card-o', title: 'Working At', text: user.company
= render 'components/info-profile', icon: 'map-marker', title: 'Location', text: user.location
= render 'components/info-profile', icon: 'globe', title: 'Website', text: user.website
= render 'components/info-profile', icon: 'envelope-o', title: 'Contact', text: user.email
