<div class="projects">
  <div class="row">
    <% projects.each do |project| %>
        <% unless project.hide or !project.cover %>
            <div class="col-lg-6">
              <%= render 'components/project', project: project %>
            </div>
        <% end %>
    <% end %>
  </div>

  <div class="row">
    <% projects.each do |project| %>
        <% unless project.hide or project.cover %>
            <div class="col-lg-6">
              <%= render 'components/project', project: project %>
            </div>
        <% end %>
    <% end %>
  </div>
</div>