- icon = social.gsub('_', '-')
- icon = 'rss' if social == 'blog'
- icon = 'github' if social == 'github'

%a.social.wow.animated.fadeIn{class: "social-#{social}", href: url, target: '_blank', title: social.titleize}
  %i.fa{class: "fa-#{icon}"}
