.thumbnail-profile
  .thumbnail-generated class="thumbnail-generated-#{project.id % 3}"
    = image_tag 'logo.png', class: 'thumbnail-logo', alt: 'GitShowcase Logo'

  - if project.thumbnail.present?
    = render 'components/background',
            mask_color: 'white',
            mask: 0.2,
            image: project.thumbnail_url,
            position: 'center',
            blur: '25px'

    = render 'components/background',
            mask_color: 'white',
            mask: 0.2,
            image: project.thumbnail_url,
            size: 'contain',
            position: 'center'

