@import "globals/colors";

.projects {
  > header {
    border-bottom: 1px solid $color-border;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    font-size: .85rem;

    > * {
      display: inline-block;
    }

    .name {
      margin-left: .5rem;
    }

    .visibility {
      float: right;
      margin-right: .5rem;
    }
  }

  .project + .project {
    margin-top: 1rem;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: -.5rem;
      width: 100%;
      border-top: 1px dashed $color-border;
    }
  }
}
