@import "globals/colors";

$divider-height: 111px;

#home-view {
  $margin-size: 4rem;
  text-align: center;

  h2 {
    color: $color-title-black;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.9;
    letter-spacing: 1.6px;

    @media screen and (max-width: 997px) {
      font-size: 32px;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 44px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    color: $color-text-black;
    line-height: 1.17;
    letter-spacing: 1px;
  }

  p {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 1.65;
    letter-spacing: 0.7px;
    text-align: center;
    color: rgba(72, 72, 72, 0.8);
  }

  #invitation {
    $invitation-height: 4rem;
    padding-top: $invitation-height;

    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: $invitation-height;
      z-index: 1;
      padding: .5rem 0;
      text-align: left;
      background: white;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
      color: $color-one;
      letter-spacing: 1px;
    }

    .avatar {
      border-radius: 100%;
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
    }

    .invitation-user {
      color: inherit;
      text-decoration: underline;
    }

    .sign-in {
      letter-spacing: 0;
      padding: .8rem 1.25rem;
      font-size: 1rem;

      i {
        font-size: 1.25rem;
        margin-right: .5rem;
      }
    }
  }

  .live-preview {
    border-radius: 6px !important;
  }

  #presenter {
    position: relative;
    color: rgba(white, .8);
    padding-bottom: 96px;

    @media screen and (max-width: 997px) {
      padding-bottom: 48px;
    }

    .logo {
      margin-top: 68px;
      width: 191px;
      filter: brightness(0) invert(1);
    }

    h1 {
      margin-top: 110px;
      font-weight: 300;
      font-size: 50px;
      line-height: 1.19;
      letter-spacing: 2.6px;
      color: $color-title-white;

      @media screen and (max-width: 997px) {
        font-size: 32px;
        margin-top: 82px;
      }
    }

    .sign-in {
      margin-top: 74px;
    }

    .free {
      font-size: 17px;
      line-height: 3.82;
      letter-spacing: 0.7px;
      margin-top: 45px;
    }
  }

  #plug-and-play {
    h2 {
      margin: $divider-height auto 86px;
      width: 40%;
    }

    .step {
      p {
        margin-top: 42px;
      }
    }

    @media screen and (max-width: 997px) {
      .step p {
        margin-top: 24px;
      }

      .step + .step {
        margin-top: 42px;
      }
    }
  }

  #responsive {
    h2 {
      margin-top: $divider-height;
      margin-bottom: 86px;
    }

    p {
      margin: 82px auto;
      width: 741px;
      max-width: 100%;
    }

    @media screen and (max-width: 767px) {
      a + a {
        margin-top: 33px;
      }
    }

    @media screen and (min-width: 768px) {
      a + a {
        margin-left: 33px;
      }
    }
  }

  #open-source {
    padding-bottom: $divider-height;

    h2 {
      margin-top: $divider-height;
      margin-bottom: 76px;

      img {
        margin-right: 28px;
        margin-top: -8px;
      }
    }

    p {
      margin-bottom: 82px;
    }

    .btn-social {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      border-radius: 6px;
    }
  }

  #footer {
    position: relative;
    padding-bottom: 111px;
    padding-top: 111px;

    h2 {
      margin-top: 0;
      margin-bottom: 52px;
      line-height: 1.68;
      font-size: 31.65px;
      color: $color-title-white;
      font-weight: 300;

      strong {
        font-weight: 600;
      }

      .first-line {
        font-size: 50px;
        line-height: 1.05;
        letter-spacing: 2.6px;
      }
    }
  }
}
