@import "globals/colors";
@import "panel/mixins";

@include panel($color-one, $color-two);

.share-box {
  @media screen and (max-width: 575px) {
    right: 45px;
    left: auto;
  }

  .share-button {
    color: $color-one !important;
    background: $color-background !important;

    @media screen and (max-width: 575px) {
      transform: none;
    }

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, .2) !important;
    }

    &:active {
      box-shadow: none !important;
    }
  }
}
