#users-home-view {
  .home-profile .summary {
    display: inline-block;
  }

  .home-social:not(:hover), .home-project:not(:hover) {
    color: inherit;
  }

  .home-skills {
    $margin-bottom: .5rem;
    margin-bottom: -$margin-bottom;

    .home-skill {
      display: inline-block;
      margin-right: 1.5rem;
      margin-bottom: $margin-bottom;

      i {
        margin: .05rem;
        font-size: .8rem;
      }

      .home-skill-name {
        font-size: .95rem;
      }
    }
  }

  .row > * {
    padding-top: .2rem;
    padding-bottom: .2rem;
  }
}
