@import "constants/colors";

body {
  font-family: 'Lato', sans-serif;
  color: $color-text-black;
}

a {
  color: $color-one;

  &:hover, &:focus, &:active {
    color: $color-two;
    text-decoration: none;
  }
}

.text-success {
  color: $color-one !important;
}
