#users-home-view {
  .home-profile .summary {
    display: inline-block;
  }

  .home-domain .summary-value, .home-profile .row, .home-socials .row, .home-projects .row {
    i {
      width: 1rem;
      margin-right: .5rem;
      display: inline-block;
      opacity: .2;
    }

    a:not(:hover) {
      color: inherit;
    }
  }

  .home-skills {
    $margin-bottom: .5rem;
    margin-bottom: -$margin-bottom;

    .home-skill {
      display: inline-block;
      margin-right: 1.5rem;
      margin-bottom: $margin-bottom;

      i {
        margin: .05rem;
        font-size: .8rem;
      }

      .home-skill-name {
        font-size: .95rem;
      }
    }
  }

  .home-project {
    &.project-hidden {
      opacity: .5;
    }
  }

  .row > * {
    padding-top: .2rem;
    padding-bottom: .2rem;
  }
}
