---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gitshowcase/gitshowcase
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1492210120'
      Etag:
      - W/"d7300108269b9e6b104b101a8c7949a7"
      Last-Modified:
      - Sat, 08 Apr 2017 19:26:32 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":78388040,"name":"gitshowcase","full_name":"gitshowcase/gitshowcase","owner":{"login":"gitshowcase","id":25357134,"avatar_url":"https://avatars1.githubusercontent.com/u/25357134?v=3","gravatar_id":"","url":"https://api.github.com/users/gitshowcase","html_url":"https://github.com/gitshowcase","followers_url":"https://api.github.com/users/gitshowcase/followers","following_url":"https://api.github.com/users/gitshowcase/following{/other_user}","gists_url":"https://api.github.com/users/gitshowcase/gists{/gist_id}","starred_url":"https://api.github.com/users/gitshowcase/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gitshowcase/subscriptions","organizations_url":"https://api.github.com/users/gitshowcase/orgs","repos_url":"https://api.github.com/users/gitshowcase/repos","events_url":"https://api.github.com/users/gitshowcase/events{/privacy}","received_events_url":"https://api.github.com/users/gitshowcase/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/gitshowcase/gitshowcase","description":"Awesome
        Portfolio from your GitHub","fork":false,"url":"https://api.github.com/repos/gitshowcase/gitshowcase","forks_url":"https://api.github.com/repos/gitshowcase/gitshowcase/forks","keys_url":"https://api.github.com/repos/gitshowcase/gitshowcase/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gitshowcase/gitshowcase/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gitshowcase/gitshowcase/teams","hooks_url":"https://api.github.com/repos/gitshowcase/gitshowcase/hooks","issue_events_url":"https://api.github.com/repos/gitshowcase/gitshowcase/issues/events{/number}","events_url":"https://api.github.com/repos/gitshowcase/gitshowcase/events","assignees_url":"https://api.github.com/repos/gitshowcase/gitshowcase/assignees{/user}","branches_url":"https://api.github.com/repos/gitshowcase/gitshowcase/branches{/branch}","tags_url":"https://api.github.com/repos/gitshowcase/gitshowcase/tags","blobs_url":"https://api.github.com/repos/gitshowcase/gitshowcase/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gitshowcase/gitshowcase/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gitshowcase/gitshowcase/git/refs{/sha}","trees_url":"https://api.github.com/repos/gitshowcase/gitshowcase/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gitshowcase/gitshowcase/statuses/{sha}","languages_url":"https://api.github.com/repos/gitshowcase/gitshowcase/languages","stargazers_url":"https://api.github.com/repos/gitshowcase/gitshowcase/stargazers","contributors_url":"https://api.github.com/repos/gitshowcase/gitshowcase/contributors","subscribers_url":"https://api.github.com/repos/gitshowcase/gitshowcase/subscribers","subscription_url":"https://api.github.com/repos/gitshowcase/gitshowcase/subscription","commits_url":"https://api.github.com/repos/gitshowcase/gitshowcase/commits{/sha}","git_commits_url":"https://api.github.com/repos/gitshowcase/gitshowcase/git/commits{/sha}","comments_url":"https://api.github.com/repos/gitshowcase/gitshowcase/comments{/number}","issue_comment_url":"https://api.github.com/repos/gitshowcase/gitshowcase/issues/comments{/number}","contents_url":"https://api.github.com/repos/gitshowcase/gitshowcase/contents/{+path}","compare_url":"https://api.github.com/repos/gitshowcase/gitshowcase/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gitshowcase/gitshowcase/merges","archive_url":"https://api.github.com/repos/gitshowcase/gitshowcase/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gitshowcase/gitshowcase/downloads","issues_url":"https://api.github.com/repos/gitshowcase/gitshowcase/issues{/number}","pulls_url":"https://api.github.com/repos/gitshowcase/gitshowcase/pulls{/number}","milestones_url":"https://api.github.com/repos/gitshowcase/gitshowcase/milestones{/number}","notifications_url":"https://api.github.com/repos/gitshowcase/gitshowcase/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gitshowcase/gitshowcase/labels{/name}","releases_url":"https://api.github.com/repos/gitshowcase/gitshowcase/releases{/id}","deployments_url":"https://api.github.com/repos/gitshowcase/gitshowcase/deployments","created_at":"2017-01-09T02:52:31Z","updated_at":"2017-04-08T19:26:32Z","pushed_at":"2017-04-12T03:12:34Z","git_url":"git://github.com/gitshowcase/gitshowcase.git","ssh_url":"git@github.com:gitshowcase/gitshowcase.git","clone_url":"https://github.com/gitshowcase/gitshowcase.git","svn_url":"https://github.com/gitshowcase/gitshowcase","homepage":"https://www.gitshowcase.com","size":3685,"stargazers_count":98,"watchers_count":98,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":14,"mirror_url":null,"open_issues_count":4,"forks":14,"open_issues":4,"watchers":98,"default_branch":"master","organization":{"login":"gitshowcase","id":25357134,"avatar_url":"https://avatars1.githubusercontent.com/u/25357134?v=3","gravatar_id":"","url":"https://api.github.com/users/gitshowcase","html_url":"https://github.com/gitshowcase","followers_url":"https://api.github.com/users/gitshowcase/followers","following_url":"https://api.github.com/users/gitshowcase/following{/other_user}","gists_url":"https://api.github.com/users/gitshowcase/gists{/gist_id}","starred_url":"https://api.github.com/users/gitshowcase/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gitshowcase/subscriptions","organizations_url":"https://api.github.com/users/gitshowcase/orgs","repos_url":"https://api.github.com/users/gitshowcase/repos","events_url":"https://api.github.com/users/gitshowcase/events{/privacy}","received_events_url":"https://api.github.com/users/gitshowcase/received_events","type":"Organization","site_admin":false},"network_count":14,"subscribers_count":7}'
  recorded_at: Fri, 14 Apr 2017 21:48:41 GMT
recorded_with: VCR 3.0.3
