-#SEO
%meta{name: 'description', content: description}
%meta{name: 'keywords', content: keywords}
%meta{name: 'author', content: author}

%meta{property: 'og:url', content: request.original_url}
%meta{property: 'og:title', content: title}
%meta{property: 'og:description', content: description}
%meta{property: 'og:image', content: image}
