-#Web App
%meta{name: 'application-name', content: 'Premiere Player'}
%meta{name: 'mobile-web-app-capable', content: 'yes'}
%meta{name: 'format-detection', content: 'telephone=no'}
%meta{name: 'HandheldFriendly', content: 'true'}
%link{rel: 'manifest', href: '/manifest.json'}

-#Apple Web App
%meta{name: 'apple-mobile-web-app-capable', content: 'yes'}
%meta{name: 'apple-mobile-web-app-status-bar-style', content: 'black-translucent'}
%meta{name: 'apple-mobile-web-app-title', content: 'Premiere'}
