@import "constants/colors";

.dashboard-layout {
  &:before {
    content: '';
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-background;
  }

  .content-yield {
    > * {
      background: white;
      padding: 1rem;
    }
  }

  h1 {
    color: $color-title-black;
    font-weight: 300;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0;
    padding-top: 1rem;
    margin-bottom: .5rem;
    text-align: center;
  }

  .header-actions, .header-description {
    text-align: center;
    margin-top: -.5rem;
    margin-bottom: 1rem;

    a {
      text-decoration: none;
    }
  }

  .side-menu {
    padding: 1rem;
    background: white;
    margin-bottom: 1rem;
  }

  .footer {
    background: white;
    margin-bottom: 1rem;
  }

  .home-view {
    > header {
      margin-bottom: 1rem;
    }
  }
}