@import "constants/colors";

.dashboard-layout {
  &:before {
    content: '';
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9f9f9;
  }

  .dashboard-menu {
    a {
      display: block;
      padding: .5rem;
      text-decoration: none;
    }

    nav {
      margin-bottom: 1rem;
    }
  }

  h1 {
    color: $color-title-black;
    font-weight: 300;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .header-actions {
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 1rem;

    a {
      text-decoration: none;
    }
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}