@import "constants/colors";

.dashboard-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media screen and (min-width: 998px) {
    background: $color-background;
  }

  > .container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .content-yield {
    padding-bottom: 1rem;

    @media screen and (min-width: 998px) {
      > * {
        background: white;
        padding: 1rem;
      }
    }
  }

  h1 {
    color: $color-title-black;
    font-weight: 300;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0;
    padding-top: 1rem;
    margin-bottom: .5rem;
    text-align: center;
  }

  .header-actions, .header-description {
    text-align: center;
    margin-top: -.5rem;
    margin-bottom: 1rem;

    a {
      text-decoration: none;
    }
  }

  .side-menu {
    padding: 1rem;
    background: white;
    margin-bottom: 1rem;
  }

  .footer {
    color: #aaa;

    @media screen and (max-width: 997px) {
      border-top: 1px solid rgba(0, 0, 0, .05);
      background: $color-background;
    }
  }

  .home-view {
    > header {
      margin-bottom: 1rem;
    }
  }
}