$brand-color-github: #aaa;
$brand-color-linkedin: #0077b5;
$brand-color-angellist: #999;
$brand-color-twitter: #1da1f2;
$brand-color-facebook: #3b5998;
$brand-color-google-plus: #dd4b39;
$brand-color-stack_overflow: #f48024;
$brand-color-codepen: #000;
$brand-color-jsfiddle: #3099f4;
$brand-color-medium: #00ab6c;
$brand-color-blog: #f57d00;
$brand-color-behance: #1769ff;
$brand-color-dribbble: #ea4c89;
$brand-color-pinterest: #bd081c;
