$color-one: #14aa8e;
$color-two: #3ea2aa;
$color-three: #3b8190;
$color-four: #0c516e;
$color-five: #111111;

$color-white: #ddd;
$color-white-highlight: #fff;

$color-black: #222;
$color-black-highlight: #000;

$color-text: #666;
$color-text-opaque: #666;
$color-title: #333;
