$color-one: #14aa8e;
$color-two: #4aa1b4;
$color-three: #0c516e;

$color-white: #ddd;
$color-white-highlight: #fff;

$color-black: #222;
$color-black-highlight: #000;

$color-text: #666;
$color-title: #333;
