$color-one: #01a0ed;
$color-two: #01d1c7;
$color-three: #01fda1;

$color-title-black: #484848;
$color-title-white: white;

$color-text-black: rgba(72,72,72,0.8);
$color-text-white: rgba(255, 255, 255, 0.8);

$color-highlight: #ea0047;
$color-highlight-hover: #ff155c;
$color-highlight-active: #d50041;
