@import "globals/colors";
@import "globals/button";
@import "globals/form";
@import "globals/general";
@import "globals/mixins";

@mixin switch-theme($color-one, $color-two) {
  .switch {
    input:checked + .switch-slider {
      background-color: $color-one;
    }

    input:focus + .switch-slider {
      box-shadow: 0 0 1px $color-one;
    }
  }
}

@mixin panel($color-one, $color-two) {
  @include switch-theme($color-one, $color-two);

  .panel {
    @include general-theme($color-one, $color-two);
    @include button-theme($color-one, $color-two);
    @include form-theme($color-one, $color-two);
    @include switch-theme($color-one, $color-two);

    .header {
      nav {
        background: $color-one;
      }
    }

    .menu {
      nav a {
        &:hover, &:active {
          color: $color-one;
        }

        &.active {
          color: $color-two !important;
        }
      }
    }
  }
}
