@import "globals/colors";
@import "globals/mixins";

.panel {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $color-background;

  .alert {
    margin-bottom: 1.5rem;
  }

  > .container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  h1 {
    color: $color-title-black;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: .5rem;
  }

  .footer {
    padding-top: 36px;
    color: #aaa;
  }
}
