@import "globals/mixins";
@import "globals/colors";

.panel .menu {
  padding: 1rem;
  margin-bottom: 1rem;
  @include cardify();

  > header {
    margin-bottom: .5rem;
    padding-bottom: .75rem;
    border-bottom: 1px dashed $color-border;

    a {
      display: block;
    }
  }

  .avatar {
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    max-width: 100%;
    display: inline-block;
    float: left;
    margin-right: 1rem;
  }

  .menu-name {
    padding-top: .25rem;
    font-size: 1.35rem;
    color: $color-title-black;
  }

  nav a {
    display: block;
    padding: .5rem;
    color: $color-text-black;

    &.active {
      color: white;
      border-radius: .1rem;
    }

    .badge {
      float: right;
      margin-top: .25rem;
    }
  }

  nav + nav {
    margin-top: .5rem;
    padding-top: .5rem;
    border-top: 1px dashed $color-border;
  }
}
