#users-index-view {
  .created_at {
    color: #aaa;
    float: right;
  }

  .profile-block {
    display: block;

    i {
      width: 1.25rem;
    }

    span + span {
      margin-left: .5rem;
    }
  }

  .profile-block + .profile-block {
    margin-top: .5rem !important;
  }
}
