#users-index-view {
  .created_at {
    color: #aaa;
  }

  .user {
    display: block;
    margin-bottom: 1rem;
    text-align: center;

    i {
      width: 1.25rem;
    }

    .avatar {
      width: 6rem;
      max-width: 100%;
      border-radius: 100%;
      margin-bottom: .5rem;
    }

    .score {
      border-top: 1px solid rgba(black, .05);
      padding-top: .5rem;
      margin-top: 1rem;
      font-size: 1.25rem;
    }
  }
}
