@import "globals/colors";

#analytics-overview-view {
  .filter {
    .date-shortcuts {
      margin-top: .1rem;
      text-align: right;

      a {
        text-decoration: none;
      }

      a + a {
        margin-left: .5rem;
      }
    }
  }
}
