@import "globals/colors";
@import "globals/mixins";

.cover {
  padding: 1rem;
  text-align: center;
  transition: all .5s ease;
  border-radius: 3px;
  cursor: pointer;
  @include cardify();

  &:hover {
    border-color: #b9b9b9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
  }

  &.active {
    background: $color-one;
  }

  img {
    width: 100%;
  }
}