@import "constants/sizes";
@import "constants/colors";

body {
  padding-top: $header-height;
}

#header {
  .alert, .notice {
    margin-bottom: 0;
  }

  .navbar {
    height: $header-height;
    margin-bottom: 0;
    background: $color-black;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand {
    height: 20px;
    padding: 0;

    img {
      filter: invert(1);
      max-height: 100%;
    }
  }

  &.transparent {
    @media screen and (min-width: 998px) {
      .navbar {
        background: transparent;
      }
    }
  }

  a {
    color: $color-white;
    font-size: 117%;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
  }

  .settings {
    color: $color-two;
  }

  .nav-link {
    margin-top: -.2rem;
  }
}