@import "./constants/sizes";

#profile-home-view {
  #infos {
    @media screen and (min-width: $profile-breakpoint + 1) {
      padding-top: 20px;
    }

    @media screen and (max-width: $profile-breakpoint) {
      display: none;
    }
  }

  #projects {
    border-top: 1px solid #e8e8e8;

    @media screen and (min-width: $profile-breakpoint + 1) {
      margin-top: 60px;
      padding-top: 51px;
    }

    @media screen and (max-width: $profile-breakpoint) {
      padding-top: 30px;
    }
  }
}
