.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .mask {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &.background-blurred {
    .image {
      $blur-compensation: 1rem;
      left: -$blur-compensation;
      top: -$blur-compensation;
      width: calc(100% + #{$blur-compensation});
      height: calc(100% + #{$blur-compensation});
    }
  }
}

.background ~ * {
  position: relative;
}
