@import "constants/sizes";
@import "constants/colors";

.header-profile {
  height: $header-height;

  nav {
    height: $header-height;
    //background: linear-gradient(176deg, $color-one, $color-two);
    background: white;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
  }

  .logo {
    margin-top: $header-padding - .1rem;
    display: inline-block;

    img {
      width: 11rem;
    }
  }

  .links {
    a {
      display: inline-block;
      padding: $header-padding;
      height: $header-height;
      text-decoration: none;
      text-transform: uppercase;
      //color: $color-text-white;
    }

    .header-sign-in {
      color: $color-highlight;

      @media screen and (max-width: $profile-breakpoint) {
        span {
          display: none;
        }
      }
    }
  }
}