@import "constants/sizes";
@import "constants/colors";

.header-profile {
  height: $header-height;

  nav {
    height: $header-height;
    background: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
  }

  .logo {
    margin-top: $header-padding - .1rem;
    display: inline-block;

    img {
      width: 11rem;
    }
  }

  .links {
    a {
      display: inline-block;
      padding: $header-padding;
      height: $header-height;
      text-decoration: none;
      text-transform: uppercase;
    }

    .header-sign-in {
      @media screen and (max-width: 767px) {
        span {
          display: none;
        }
      }
    }
  }
}