@import "constants/sizes";
@import "constants/colors";

.header {
  height: $header-height;
  margin-bottom: 1rem;

  .alert, .notice {
    margin-bottom: 0;
  }

  nav {
    $padding: .75rem;

    background-color: $color-one;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.25);

    .logo {
      display: inline-block;
      margin-top: $padding - .1rem;

      img {
        width: 12rem;
      }
    }

    .links {
      margin-right: -$padding;

      a {
        display: inline-block;
        padding: $padding;
        color: white;
        text-decoration: none;
        font-weight: 300;
        text-transform: uppercase;

        &:hover {
          background: rgba(0, 0, 0, .05);
        }
      }
    }
  }

  .navbar-brand {
    height: 20px;
    padding: 0;

    img {
      filter: invert(1);
      max-height: 100%;
    }
  }
}