@import "constants/sizes";
@import "constants/colors";

.header-profile {
  height: $header-height;
  //background: linear-gradient(176deg, $color-one, $color-two);
  background: $color-background;

  .logo {
    margin-top: $header-padding - .1rem;
    display: inline-block;

    img {
      height: 1.25rem;
      filter: brightness(0);
    }
  }

  .links {
    a {
      display: inline-block;
      padding: $header-padding;
      height: $header-height;
      text-decoration: none;
      text-transform: uppercase;
    }

    .header-sign-in {
      color: $color-highlight;
    }
  }
}