@import "constants/sizes";
@import "constants/colors";

.header-dashboard {
  height: $header-height;
  margin-bottom: 2rem;

  .alert, .notice {
    margin-bottom: 0;
  }

  nav {
    background: linear-gradient(176deg, $color-one, $color-two);
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.25);
    height: $header-height;
    z-index: 1;

    .logo {
      display: inline-block;
      margin-top: $header-padding - .15rem;

      img {
        width: 11rem;
        filter: brightness(0) invert(1);
      }
    }

    .links {
      margin-right: -$header-padding;

      a {
        display: inline-block;
        padding: $header-padding;
        height: $header-height;
        color: white;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          background: rgba(0, 0, 0, .05);
        }
      }
    }
  }
}