@import "constants/sizes";
@import "constants/colors";

.info-profile {
  display: block;
  text-align: center;

  &[href="javascript:void"] {
    cursor: default;
  }

  @media screen and (min-width: $profile-breakpoint + 1) {
    margin-top: 40px;
  }

  @media screen and (max-width: $profile-breakpoint) {
    margin-top: 16px;
    text-shadow: 1px 1px rgba(black, .1);
  }

  > header {
    @media screen and (min-width: $profile-breakpoint + 1) {
      color: #c8c8c8;
    }

    @media screen and (max-width: $profile-breakpoint) {
      color: $color-text-white;
    }
  }

  > header i {
    @media screen and (min-width: $profile-breakpoint + 1) {
      font-size: 2rem;
    }

    @media screen and (max-width: $profile-breakpoint) {
      margin-right: .5rem;
    }
  }

  .info-title {
    margin-top: .75rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 12px;

    @media screen and (max-width: $profile-breakpoint) {
      display: inline-block;
    }
  }

  .info-text {
    margin-top: 8px;
    letter-spacing: 0.8px;

    @media screen and (min-width: $profile-breakpoint + 1) {
      color: #343434;
    }

    @media screen and (max-width: $profile-breakpoint) {
      display: inline-block;
      color: white;
    }
  }

  .info-edit {
    display: block;

    @media screen and (max-width: $profile-breakpoint) {
      color: $color-text-white;
    }
  }
}
