.live-preview {
  display: inline-block;
  width: 356px;
  max-width: 90%;
  height: 86px;
  border-radius: 6px;
  color: #d73264 !important;
  text-decoration: none !important;
  box-shadow: 0.5px 1.9px 3px 0 rgba(0, 0, 0, 0.21);
  border: solid 2px #d73264;
  font-family: Montserrat;
  font-size: 19px;
  letter-spacing: 0.8px;
  padding-top: 28px;
  text-align: center;

  img {
    vertical-align: middle;
    margin-right: 31px;
  }

  @media screen and (max-width: 997px) {
    height: 80px;
    padding-top: 26px;
  }
}
