@import "constants/colors";

.menu {
  > header {
    margin-bottom: .5rem;
    padding-bottom: .75rem;
    border-bottom: 1px dashed rgba(black, .1);

    a {
      display: block;
    }
  }

  .avatar-profile {
    border-radius: 100%;
    width: 4rem;
    max-width: 100%;
    display: inline-block;
    float: left;
    margin-right: 1rem;
  }

  .menu-name {
    padding-top: .25rem;
    font-size: 1.35rem;
    color: $color-title-black;
  }

  nav a {
    display: block;
    padding: .5rem;
    color: $color-text-black;

    &:hover, &:active {
      color: $color-one;
    }

    &.active {
      background: $color-one;
      color: white;
      border-radius: .1rem;
    }
  }

  nav + nav {
    margin-top: 1rem;
    border-top: 1px dashed rgba(black, .1);
    padding-top: 1rem;
  }
}
