@import "constants/colors";

.menu {
  a {
    display: block;
    padding: .5rem;
    color: $color-text-black;

    &:hover, &:active {
      color: $color-one;
    }

    &.active {
      background: $color-one;
      color: white;
      border-radius: .1rem;
    }
  }

  nav + nav {
    margin-top: 1rem;
    border-top: 1px dashed rgba(black, .1);
    padding-top: 1rem;
  }
}
