@import "constants/colors";
@import "constants/sizes";

.presenter-profile {
  max-width: 1440px;
  margin: 0 auto;

  .presenter-basic {
    background: white;
    text-align: center;
    padding-bottom: 49px;
    padding-top: 43px;
    position: relative;

    @media screen and (min-width: $profile-breakpoint + 1) {
      background: white;
      width: $profile-width;
      height: $profile-height;
      float: left;
    }

    @media screen and (max-width: $profile-breakpoint) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .presenter-background {
      @media screen and (min-width: $profile-breakpoint + 1) {
        display: none;
      }
    }

    .presenter-avatar {
      margin-bottom: 20px;

      .avatar-profile {
        border-radius: 100%;

        @media screen and (min-width: $profile-breakpoint + 1) {
          width: 191px;
          height: 191px;
        }

        @media screen and (max-width: $profile-breakpoint) {
          border: 8px solid rgba(0, 0, 0, .1);
          width: 138px;
          height: 138px;
        }
      }
    }

    .presenter-name {
      font-size: 28px;
      letter-spacing: 0.8px;
      margin-bottom: 1.5rem;
      font-weight: 300;

      @media screen and (min-width: $profile-breakpoint + 1) {
        color: #343434;
      }

      @media screen and (max-width: $profile-breakpoint) {
        color: white;
      }
    }

    .social-profile {
      @media screen and (min-width: $profile-breakpoint + 1) {
        color: #999;
      }

      @media screen and (max-width: $profile-breakpoint) {
        color: $color-text-white;
      }
    }

    .infos-profile {
      margin-top: 1rem;

      @media screen and (min-width: $profile-breakpoint + 1) {
        display: none;
      }
    }
  }

  .presenter-details {
    position: relative;

    @media screen and (min-width: $profile-breakpoint + 1) {
      margin-left: $profile-width;
      height: $profile-height;
      padding: 53px 70px;
      color: white;
    }

    @media screen and (max-width: $profile-breakpoint) {
      padding: 40px 28px 8px;
      color: $color-text-black;

      .background {
        display: none;
      }
    }

    > header {
      @media screen and (min-width: $profile-breakpoint + 1) {
        padding-bottom: 25px;
        margin-bottom: 36px;
      }

      @media screen and (max-width: $profile-breakpoint) {
        padding-bottom: 20px;
        margin-bottom: 32px;
      }

      &:after {
        content: ' ';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 103px;
        height: 1px;

        @media screen and (min-width: $profile-breakpoint + 1) {
          background: rgba($color-background, .4);
        }

        @media screen and (max-width: $profile-breakpoint) {
          background: rgba($color-text-black, .4);
        }
      }

      .presenter-role {
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        letter-spacing: 1.3px;
        margin-top: 0;

        @media screen and (min-width: $profile-breakpoint + 1) {
          font-size: 33px;
          margin-bottom: 18px;
        }

        @media screen and (max-width: $profile-breakpoint) {
          font-size: 24px;
          margin-bottom: 12px;
        }
      }

      .presenter-bio {
        letter-spacing: 0.6px;

        @media screen and (min-width: $profile-breakpoint + 1) {
          font-size: 16px;
        }

        @media screen and (max-width: $profile-breakpoint) {
          font-size: 14px;
        }
      }
    }
  }
}
