@import "constants/colors";

.project-edit {
  &.project-hidden {
    opacity: .5;
  }

  .project-handler {
    float: left;
    padding: 1.4rem;
    cursor: move;
  }

  .project-link {
    display: block;
    padding: .5rem 0;
    margin-left: 3rem;
  }

  .project-title {
    color: $color-title-black;
    font-size: 1.17rem;
  }

  .project-description {
    color: $color-text-black;
  }

  .project-actions {
    float: right;
    margin-top: 1.17rem;
    margin-right: .5rem;

    .btn {
      float: left;
      margin-right: .75rem;
      padding: .4rem 1rem;
      text-decoration: none;
      background: $color-one;
    }
  }
}
