@import "constants/colors";

.project {
  border: 1px solid rgba(0, 0, 0, .1);
  display: block;
  position: relative;
  padding-bottom: 1rem;
  border-radius: .2rem;
  overflow: hidden;

  a {
    text-decoration: none;
  }

  &.project-with-cover {
    $cover-size: 10rem;

    .project-link {
      padding-top: 10rem;
    }

    .project-blur {
      .background {
        clip-path: inset(($cover-size - 1rem) 0 0 0);
      }
    }
  }

  &:not(.project-with-cover) {
    padding-top: 1rem;
  }

  .project-link {
    display: block;
  }

  .project-icon {
    float: left;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-top: .2rem;
    margin-bottom: .5rem;
  }

  .project-title {
    font-size: 1.35rem;
    color: $color-title;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .project-description {
    color: $color-text;
    height: 3rem;
    margin-bottom: .5rem;
  }

  > footer {
    text-align: right;

    .project-language {
      float: left;
      color: $color-four;
      font-size: .9rem;
      margin-top: .1rem;
    }

    .project-repository {

    }
  }
}
