@import "globals/colors";

.score {
  &-medium {
    color: orange;
  }

  &-strong {
    color: green;
  }

  &-very-strong {
    color: purple;
  }

  &-rockstar {
    color: $color-highlight;
  }
}
