@import "constants/colors";

.sign-in {
  display: inline-block;

  button {
    color: white !important;
    text-decoration: none !important;
    border-radius: 6px;
    border: solid 2px $color-highlight;
    background-color: $color-highlight;
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: 0.8px;
    padding: 20px 30px;
    text-align: center;

    &:hover {
      background-color: $color-highlight-hover;
      border-color: $color-highlight-hover;
    }
  }

  i {
    font-size: 31px;
    vertical-align: middle;
    margin-right: 31px;
  }
}
