@import "constants/colors";

.skill-profile {
  position: relative;

  .skill-name {
    font-size: 75%;
    margin-top: 0;
    margin-bottom: 8px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  i {
    margin-right: .25rem;
    opacity: .75;
  }

  &[data-value-1] {
    .fa-star {
      color: $color-three;
    }
  }

  &[data-value-2] {
    .fa-star {
      color: $color-three;
    }
  }

  &[data-value-3] {
    .fa-star {
      color: $color-two;
    }
  }

  &[data-value-4] {
    .fa-star {
      color: $color-two;
    }
  }

  &[data-value-5] {
    .fa-star {
      color: $color-one;
    }
  }
}
