@import "constants/colors";

.skill {
  text-align: center;

  i {
    margin: 0 .1rem;
  }

  &[data-value-1] {
    .fa-star {
      color: $color-five;
    }
  }

  &[data-value-2] {
    .fa-star {
      color: $color-four;
    }
  }

  &[data-value-3] {
    .fa-star {
      color: $color-three;
    }
  }

  &[data-value-4] {
    .fa-star {
      color: $color-two;
    }
  }

  &[data-value-5] {
    .fa-star {
      color: $color-one;
    }
  }
}
