@import "constants/colors";

.social {
  display: inline-block;
  //color: $color-white;
  font-size: 2rem;
  transition: all .1s linear;
  border-radius: .1rem;
  padding: 1rem;

  &:focus {
    outline: none;
  }

  &-github {
    &:hover, &:focus, &:active {
      color: #aaa;
    }
  }

  &-linkedin {
    &:hover, &:focus, &:active {
      color: #0077b5;
    }
  }

  &-angellist {
    &:hover, &:focus, &:active {
      color: #999;
    }
  }

  &-twitter {
    &:hover, &:focus, &:active {
      color: #1da1f2;
    }
  }

  &-facebook {
    &:hover, &:focus, &:active {
      color: #3b5998;
    }
  }

  &-google-plus {
    &:hover, &:focus, &:active {
      color: #dd4b39;
    }
  }

  &-stack_overflow {
    &:hover, &:focus, &:active {
      color: #f48024;
    }
  }

  &-codepen {
    &:hover, &:focus, &:active {
      color: #000;
    }
  }

  &-jsfiddle {
    &:hover, &:focus, &:active {
      color: #3099f4;
    }
  }

  &-medium {
    &:hover, &:focus, &:active {
      color: #00ab6c;
    }
  }

  &-blog {
    &:hover, &:focus, &:active {
      color: #f57d00;
    }
  }

  &-behance {
    &:hover, &:focus, &:active {
      color: #1769ff;
    }
  }

  &-dribbble {
    &:hover, &:focus, &:active {
      color: #ea4c89;
    }
  }

  &-pinterest {
    &:hover, &:focus, &:active {
      color: #bd081c;
    }
  }
}
