@import "constants/brands";

@mixin social-profile-brand($name, $color) {
  &-#{$name} {
    &:hover, &:focus, &:active {
      color: $color;
    }
  }
}

.social-profile {
  display: inline-block;
  transition: all .1s linear;
  border-radius: .1rem;
  color: #999;
  outline: none;

  @include social-profile-brand('github', $brand-color-github);
  @include social-profile-brand('linkedin', $brand-color-linkedin);
  @include social-profile-brand('angellist', $brand-color-angellist);
  @include social-profile-brand('twitter', $brand-color-twitter);
  @include social-profile-brand('facebook', $brand-color-facebook);
  @include social-profile-brand('google-plus', $brand-color-google-plus);
  @include social-profile-brand('stack_overflow', $brand-color-stack_overflow);
  @include social-profile-brand('codepen', $brand-color-codepen);
  @include social-profile-brand('jsfiddle', $brand-color-jsfiddle);
  @include social-profile-brand('medium', $brand-color-medium);
  @include social-profile-brand('blog', $brand-color-blog);
  @include social-profile-brand('behance', $brand-color-behance);
  @include social-profile-brand('dribbble', $brand-color-dribbble);
  @include social-profile-brand('pinterest', $brand-color-pinterest);
}
