@import "constants/sizes";

.thumbnail-profile {
  position: relative;
  height: $thumbnail-height;

  .thumbnail-generated {
    height: $thumbnail-height;
    text-align: center;

    &-0 {
      background: #e5fcff;
    }

    &-1 {
      background: #fff6e5;
    }

    &-2 {
      background: #ffe5f9;
    }

    .thumbnail-logo {
      height: 60%;
      opacity: .25;
      margin-top: 36px;
    }
  }
}
