@import "constants/sizes";

.user-details-profile {
  position: relative;
  margin-left: $profile-width;
  padding: 53px 70px;
  color: white;

  > header {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 44px;

    &:before {
      content: ' ';
      position: absolute;
      left: 0;
      bottom: 0;
      background: rgba(#fafafa, .4);
      width: 103px;
      height: 1px;
    }

    .user-role {
      font-size: 33px;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      letter-spacing: 1.3px;
      margin-top: 0;
      margin-bottom: 18px;
    }

    .user-bio {
      font-size: 16px;
      letter-spacing: 0.6px;
    }
  }
}
