.user-header-profile {
  background: white;
  text-align: center;
  padding-top: 43px;
  padding-bottom: 49px;

  .user-avatar {
    margin-bottom: 20px;

    .avatar-profile {
      width: 191px;
      height: 191px;
      border-radius: 100%;
    }
  }

  .user-name {
    font-size: 20px;
    color: #343434;
    letter-spacing: 0.8px;
    margin-bottom: .85rem;
  }
}
