@import "constants/colors";

* {
  transition: all .5s ease;
}

body {
  font-family: 'Lato', sans-serif;
  color: $color-text-black;
}

a {
  color: $color-one;

  &:hover, &:focus, &:active {
    color: $color-two;
    text-decoration: none;
  }
}

.form-actions {
  margin-top: 2rem;
}

.checkbox label input {
  margin-right: .5rem;
}

.btn, .form-control, .input-group-addon {
  border-radius: 0;
}

.btn-success {
  background-color: $color-one;

  &:hover {
    background-color: $color-two;
  }
}

.form-control {
  color: $color-text-black;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0.5px 1.9px 3px 0 rgba(0, 0, 0, .21);
  padding: 9px 17px;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.8px;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
  }
}

.btn.btn-social {
  color: white;
  padding: 20px 30px;

  &-github {
    background-color: #4e4d4d;
  }

  &-facebook {
    background-color: #3b579d;
  }

  &-twitter {
    background-color: #66b5ef;
  }

  i {
    font-size: 31px;
    vertical-align: middle;
    margin-right: 16px;
  }
}

.btn.btn-action {
  color: white;
  background: $color-highlight;
  font-size: 16px;
  padding: 20px 30px;
  text-align: center;

  i {
    font-size: 31px;
    vertical-align: middle;
    margin-right: 31px;
  }

  &:hover {
    background-color: $color-highlight-hover;
  }
}

.btn.btn-action.btn-action-transparent {
  background-color: transparent;
  color: $color-highlight;
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $color-highlight;
    border-radius: inherit;
  }

  &:hover {
    background-color: rgba($color-highlight-hover, .05);

    &:before {
      border-color: $color-highlight-hover;
    }
  }
}

.input-group-addon {
  border: transparent;
  color: #aaa;
  padding: 0;
  background: transparent;
}

.form-group {
  margin-top: -.2rem;
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid $color-one;
    width: 0;
    transition: width .3s ease;
  }

  &.form-group-focused {
    &:before {
      width: 100%;
    }
  }

  .control-label {
    transition: all .2s ease-out;
    transform: none;
    margin-bottom: 0;
    color: $color-one;
    transform-origin: 0;
  }

  .form-control {
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    margin-top: -.75rem;
    background: none;
    padding-left: 0;
    padding-bottom: .25rem;
    font-family: 'Lato', sans-serif;
  }

  &:not(.form-group-addon) {
    &:not(.form-group-empty) {
      .control-label {
        transform: scale(.8);
      }
    }

    &.form-group-empty {
      .control-label {
        transform: translateY(20px);
        color: #bbb;
      }
    }
  }

  &.form-group-addon {
    .input-group-addon {
      padding-bottom: .5rem;
    }

    .form-control {
      padding-left: .1rem !important;
    }
  }
}
