@import "constants/colors";

.dashboard-layout {
  margin-top: 2rem;

  h1 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    color: $color-three;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $color-text;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-white;
  }

  .dashboard-menu {
    nav {
      margin-top: -.5rem;
      margin-bottom: 2rem;
    }

    a {
      display: block;
      padding: .15rem 1rem;
      margin-bottom: .5rem;
      text-decoration: none;
      color: $color-text;
      border-left: 3px solid transparent;

      &.active {
        border-color: $color-three;
      }

      &:hover {
        color: $color-three;
      }
    }
  }
}
