@import "constants/colors";

.dashboard-layout {
  margin-top: 2rem;

  h1 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    color: $color-text-opaque;
    border-left: .5rem solid rgba(0, 0, 0, .1);
    padding-left: 1rem;
  }

  nav {
    margin-top: -.5rem;

    @media screen and (min-width: 769px) {
      margin-bottom: 2rem;

      .nav-link, .nav-item {
        display: block;
        width: 100%;
        margin-left: 0 !important;
      }
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 1.5rem;
      text-align: center;

      .nav-link, .nav-item {
        display: inline-block;
        float: none;
        background: #eee;
      }
    }
  }
}
