// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "constants/sizes";
@import "constants/colors";

.home-view {
  $margin-size: 4rem;

  text-align: center;
  font-family: arial, helvetica, sans-serif;

  .presenter {
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: -$header-height;
    color: white;
    position: relative;

    h1 {
      margin-bottom: 2rem;
    }

    h2 {
      margin-bottom: 3rem;
      color: $color-one;
    }

    h1, h2 {
      text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .5);
      font-variant: small-caps;
    }

    .sign-in {
      font-size: 150%;
    }
  }

  section {
    position: relative;
    margin: $margin-size 0;

    h3 {
      margin-top: 0;
      margin-bottom: 2rem;
      font-size: 2rem;
      font-weight: 300;
      color: $color-title;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      display: inline-block;
      padding-left: 2rem;
      padding-right: 2rem;
      font-variant: small-caps;
    }

    p {
      font-size: 125%;
      color: $color-text;
    }

    &:nth-child(2n+3) {
      background: rgba(0, 0, 0, .05);
      padding: $margin-size 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .blocks {
    margin-top: 2rem;

    .block {
      .icon {
        font-size: 300%;
        height: 56px;
        vertical-align: top;
        margin-bottom: 1.5rem;
      }
    }
  }

  #open-source {
    padding: 5rem 0;

    h3 {
      color: $color-white-highlight;
    }

    p {
      color: $color-white;
    }

    .social {
      margin-top: 2rem;
    }

    .btn {
      margin: .25rem;
    }
  }

  #sign-in {
    background: $color-black;

    .btn {
      border: 1px solid $color-white;
      font-size: 150%;
    }
  }
}
