@import "globals/colors";
@import "globals/button";
@import "globals/form";
@import "globals/general";
@import "globals/mixins";
@import "components/switch";

.panel {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $color-background;

  $header-margin: 1.5rem;

  .alert {
    margin-bottom: $header-margin;
  }

  .header {
    $header-height: 52px;
    $header-padding: .95rem;

    padding-top: $header-height;
    margin-bottom: $header-margin;

    nav {
      height: $header-height;
      z-index: 1;

      .logo {
        display: inline-block;
        margin-top: $header-padding - .15rem;

        img {
          height: 1.26rem;
          filter: brightness(0) invert(1);
        }
      }

      .links {
        margin-right: -$header-padding;

        > * {
          display: inline-block;
          padding: $header-padding;
          height: $header-height;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          box-shadow: none;
          outline: none;
          border: 0;
          background: transparent;
          transition: .3s background ease;

          &:hover {
            background: rgba(0, 0, 0, .05);
          }
        }
      }
    }
  }

  > .container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .menu {
    padding: 1rem;
    @include cardify();

    > header {
      margin-bottom: .5rem;
      padding-bottom: .75rem;
      border-bottom: 1px dashed $color-border;

      a {
        display: block;
      }
    }

    .avatar {
      border-radius: 100%;
      width: 4rem;
      max-width: 100%;
      display: inline-block;
      float: left;
      margin-right: 1rem;
    }

    .menu-name {
      padding-top: .25rem;
      font-size: 1.35rem;
      color: $color-title-black;
    }

    nav a {
      display: block;
      padding: .5rem;
      color: $color-text-black;

      &.active {
        color: white;
        border-radius: .1rem;
      }

      .badge {
        float: right;
        margin-top: .25rem;
      }
    }

    nav + nav {
      margin-top: .5rem;
      padding-top: .5rem;
      border-top: 1px dashed $color-border;
    }
  }

  .content-yield {
    > *:not(.transparent) {
      > header {
        border: 1px solid $color-border;
      }

      > *:not(.panel-transparent), .panel-block {
        padding: 1rem 1.5rem;
        @include cardify();
      }

      > * + *, .panel-block + .panel-block {
        margin-top: 1rem;
      }
    }

    .header-action {
      float: right;
      color: $color-highlight;
      line-height: 1.5rem;

      &:hover {
        color: $color-highlight-hover;
      }
    }
  }

  h1 {
    color: $color-title-black;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: .5rem;
  }

  .footer {
    padding-top: 36px;
    color: #aaa;
  }
}

@mixin panel($color-one, $color-two) {
  .panel {
    @include general-theme($color-one, $color-two);
    @include button-theme($color-one, $color-two);
    @include form-theme($color-one, $color-two);
    @include switch-theme($color-one, $color-two);

    .header {
      nav {
        background: $color-one;
      }
    }

    .menu {
      nav a {
        &:hover, &:active {
          color: $color-one;
        }

        &.active {
          color: $color-two !important;
        }
      }
    }
  }
}
