// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "constants/colors";

.profile-show {
  .header {
    padding: 3rem 0;
    position: relative;
    margin-bottom: 2rem;
    color: $color-white;

    .user-name {
      font-size: 2rem;
      margin-bottom: 0;
      color: $color-one;
    }

    .user-bio {
      max-width: 30rem;
      font-size: 117%;
    }

    .user-role {
      color: $color-two;
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  .info {
    .user-image {
      width: 10rem;
      float: left;
      margin-right: 1rem;
    }

    .user-name {
      font-size: 1.5rem;
    }
  }

  .projects {
    margin-top: 2rem;
    color: $color-title;

    .project {

    }
  }

  .skills {
    margin-top: 2rem;
    color: $color-title;

    .skill {

    }
  }
}
