// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "constants/colors";

.profile-show {
  #header {
    padding: 4rem 0;
    position: relative;
    color: $color-white;
    text-align: center;

    .user-image {
      width: 6rem;
      margin-bottom: 2rem;
      box-shadow: 0 0 .1rem .5rem rgba(0, 0, 0, .1);
    }

    .user-role {
      font-weight: bold;
      font-size: 1.75rem;
      margin-bottom: 1.5rem;
      color: $color-one;
    }

    .user-bio {
      margin: 0 auto 3rem auto;
      max-width: 40rem;
      font-size: 117%;
    }
  }

  #info {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
    font-size: 1.17rem;

    .user-name {
      font-size: 1.75rem;
      color: $color-text;
    }

    section {
      margin-top: 3rem;
      color: $color-text;

      i {
        font-size: 2.5rem;
        color: $color-text-opaque;
        display: block;
        height: 3.5rem;
        vertical-align: middle;
      }

      h3 {
        font-size: 1.17rem;
        color: $color-text-opaque;
        margin-bottom: 1rem;
      }
    }
  }

  #skills {
    color: $color-title;
    position: relative;

    h2 {
      margin: 0;
    }

    .icon-header {
      border-color: transparent;
      margin-bottom: 0;

      i {
        border: 4px solid #f6f6f6;
      }
    }

    .skills-background {
      background: #f6f6f6;
      padding-top: 5rem;
      padding-bottom: 4rem;
    }
  }

  #projects {
    margin-top: 4rem;

    .icon-header {
      margin-bottom: 5rem;
    }

    @media screen and (min-width: 1198px) {
      .projects .row {
        margin: 0 6rem;
      }
    }
  }
}
