// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "constants/colors";
@import "constants/sizes";

.profile-layout {
  &:before {
    content: '';
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-background;
  }

  .footer {
    color: #aaa;
  }
}

.profile-show {
  > header {
    .header-container {
      width: auto;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0;
    }

    .user-header-profile {
      width: $profile-width;
      height: $profile-height;
      float: left;
    }

    .user-details-profile {
      height: $profile-height;
    }
  }

  #info {
    border-bottom: 1px solid #e8e8e8;
    padding: 60px 0;
    margin-bottom: 51px;
  }
}
