// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "constants/colors";

.index-view {
  .project-edit {
    position: relative;
    padding: 1rem;
    background: white;

    .project-link {
      display: block;
    }

    .project-icon {
      float: left;
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      margin-top: .2rem;
      margin-bottom: .5rem;
    }

    .project-title {
      color: $color-title-black;
      font-size: 1.17rem;
    }

    .project-description {
      color: $color-text-black;
    }

    .project-actions {
      float: right;

      button {
        border: None;
        background: none;
      }
    }
  }

  .project-edit + .project-edit {
    margin-top: 1rem;
  }
}
