// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "constants/colors";

.users-skills-view {
  > header {
    margin-bottom: 2rem;
  }
}

.users-settings-view {
  .danger-zone {
    > section {
      margin-top: 1.5rem;
      border: 1px solid rgba(black, .05);
      border-radius: .25rem;

      > header {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.25rem;
        padding: .7rem 0;
      }

      .section-content {
      }

      > footer {
        text-align: right;
        border: 1px solid rgba(black, .05);
        padding: .7rem 0;
      }
    }
  }
}
