// Place all the styles related to the setup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globals/colors";

#setup-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $color-background;
  padding-top: 2rem;
  padding-bottom: 1.5rem;

  .setup-header {
    margin-bottom: 2.5rem;
    text-align: center;

    .logo {
      width: 2.5rem;
      margin-bottom: 1.25rem;
      opacity: .5;
    }

    .title {
      font-weight: 300;
      font-size: 2rem;
      color: $color-title-black;
    }

    .subtitle {
      margin-top: 1rem;
      font-size: 1.25rem;
      font-weight:300;
    }
  }
}
