// Place all the styles related to the setup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globals/colors";

#setup-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $color-background;
  padding-top: 2rem;
  padding-bottom: 1.5rem;

  .setup-header {
    margin-bottom: 2.5rem;
    text-align: center;

    .logo {
      width: 4rem;
      margin-bottom: 1.25rem;
      opacity: .5;
    }

    .title {
      font-weight: 300;
    }

    .subtitle {
      margin-top: 1rem;
      font-size: 1.25rem;
      font-weight:300;
      color: $color-one;
    }
  }

  .setup-footer {
    margin-top: 1em;
    text-align: right;

    .setup-button {
      font-size: 1.4rem;
      letter-spacing: 4px;
      background: none;
      border: none;
      cursor: pointer;
      color: $color-one;
      transition: color .5s ease;
      font-family: 'Lato', sans-serif;
      outline: none;

      &:hover {
        color: $color-two;
      }
    }
  }
}
