<header id="header">
  <nav class="navbar navbar-dark navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo/logo-text.png' %>
      </a>

      <div class="nav navbar-nav pull-right">
        <% unless user_signed_in? %>
            <%= render 'components/sign_in', type: 'link' %>
        <% end %>

        <% if user_signed_in? %>
            <a class="nav-item nav-link" href="<%= '#' %>">
              <i class="fa fa-cog"></i>
            </a>

            <a class="nav-item nav-link" href="<%= destroy_user_session_path %>">
              <i class="fa fa-sign-out"></i>
            </a>
      <% end %>
      </div>
    </div>
  </nav>
</header>