<%
  title ||= 'Git Showcase'
  description ||= 'Awesome Portfolio from your GitHub'
  author = 'Pedro Moreira'
  image ||= image_path('preview.png')

  prepend_keywords ||= ''
  keywords ||= prepend_keywords + 'portfolio, github, developer'
%>

<title><%= title %></title>

<%= render 'layouts/partials/head/web_app' %>
<%= render 'layouts/partials/head/favicon' %>
<%= render 'layouts/partials/head/seo',
           title: title,
           description: description,
           keywords: keywords,
           author: author,
           image: image
%>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">