@import "globals/colors";
@import "globals/mixins";

.analytics-card {
  padding: 1rem;
  border-radius: .1rem;
  margin-bottom: 1rem;
  @include cardify();

  .title {
    margin-bottom: .5rem;
  }

  .value {
    font-size: 2rem;
  }
}
